<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="foundation.min.css">
    <link rel="stylesheet" href="app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: userHealth + '%'}">{{ userHealth }}

                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: monsterHealth + '%'}">{{ monsterHealth }}

                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!activeGame">
        <div class="small-12 columns">
            <button id="start-game" @click="toggleActiveGame">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-if="activeGame">
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click=
            "giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="fightEvent">
        <div class="small-12 columns">
            <ul>
              <li v-for="event in fightLog" :class="{'player-turn': event.isUser, 'monster-turn': !event.isUser}"> {{ event.message }} </li>
            </ul>
        </div>
    </section>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
     activeGame: false,
     fightEvent: false,
     userHealth: 100,
     monsterHealth: 100,
     fightLog: []
    },
    methods: {
      toggleActiveGame: function () {
        this.activeGame = !this.activeGame;
        this.fightEvent = !this.fightEvent;
      },
      attack: function () {
        this.userHealth -= 15;
        this.fightLog.unshift({
          isUser: true,
          message: "User attacks. Monster loses 10 health points."
        });
        this.monsterHealth -= 10;
        this.fightLog.unshift({
          isUser: false,
          message: "Monster attacks. User loses 15 health points."
        });
        this.checkHealth();
      },
      specialAttack: function () {
        this.userHealth -= 15;
        this.fightLog.unshift({
          isUser: true,
          message: "User special attacks. Monster loses 25 health points."});
        this.fightLog.unshift({
          isUser: false,
          message: "Monster attacks. User loses 15 health points."});
        this.monsterHealth = this.monsterHealth - 25;
        this.checkHealth();
      },
      heal: function () {
        this.userHealth+= 5;
        this.fightLog.unshift({
          isUser: true,
          message: "User heals. User gains 5 health points."});
      },
      toggleFightEvent: function () {
        this.fightEvent = !this.fightEvent;
      },
      giveUp: function () {
        this.userHealth = 100;
        this.monsterHealth = 100;
        return this.toggleActiveGame();
      },
      checkHealth: function () {
        if (this.userHealth <= 0) {
          alert("You lose!");
          this.giveUp();
        } else if (this.monsterHealth <= 0) {
          alert("You win!");
          this.giveUp();
        }
      }
    }
  });

</script>
</body>
</html>